@model IEnumerable<ClinicaVeterinaria.Models.DettagliVendita>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Prodotti.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vendite.Proprietario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Prodotti.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vendite.Proprietario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdDettagli }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdDettagli }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdDettagli })
        </td>
    </tr>
}

</table>
