@model ClinicaVeterinaria.Models.Fornitori

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fornitori</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Recapito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recapito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Indirizzo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdFornitori }) |
    @Html.ActionLink("Back to List", "Index")
</p>
